<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="login-form">
            <form action="" ng-submit="" name="login.loginForm" class="">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="text-center">
                            <h3>Login</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-wrapper">
                            <!--<label for="">Username:</label>-->
                            <span class="login-icon input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="login.username"/>
                        </div>
                        <div class="input-group input-wrapper">
                            <!--<label for="">Password</label>-->
                            <span class="login-icon input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input type="text" class="form-control" placeholder="Password" ng-model="login.password"/>
                        </div>
                        <div class="text-left">Not a member:
                            <a ng-href="#" ui-sref="main.register"> Sign Up</a>
                        </div>
                        <div class="text-right">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>