<div class="row" ng-cloak>
    <div class="col-xs-12">
        <div class=" row page-footer-panel">
          <div class="col-xs-6">
            <h5 class="first-color">Site</h5>
            <p>This is a demo application. The images displayed are from a third-party api.</p>
          </div>
          <div class="col-xs-6">
            <h5 class="first-color">About</h5>
            <p>Created by Goodbedford 2016</p>
            <h5 class="first-color">Stack</h5>
            <p>Angular.js 1.x, MongoDB, Express.js, Node.js </p>

          </div>
        </div>
    </div>
</div>