<div class="row">
    <div class="">
        <!--<div>I am Nav</div>-->
        <div class="nav">
            <a ng-href="#" ui-sref="main.discover" ui-sref-active-eq="active" class="nav-btn">Discover</a>
            <a ng-href="#" ui-sref="main.my-outfits" ng-show="nav.isAuthenticated()" ui-sref-active-eq="active" class="nav-btn">My Outfits</a>
            <a ng-href="#" ui-sref="main.trending" ng-show="nav.isAuthenticated()" ui-sref-active-eq="active" class="nav-btn">Trending</a>
            <span class=" pull-right nav-auth">
                <a ng-href="#" ui-sref="main.profile"  ng-show="nav.isAuthenticated()" ui-sref-active-eq="active" class="nav-btn">Current User:&nbsp;{{nav.currentUsername}}</a>
                <a ng-href="#" ui-sref="main.login"  ng-show="!nav.isAuthenticated()" ui-sref-active-eq="active" class="nav-btn">Login</a>
                <a ng-href="#" ui-sref="main.logout"  ng-show="nav.isAuthenticated()" ui-sref-active-eq="active" class="nav-btn">Logout</a>
            </span>
        </div>
    </div>
</div>
<!--login -->
<div ui-view="login"></div>