<div class="row" ng-cloak ng-show="myOutfits.outfits">
  <div class="col-xs-12">
    <h2 id="top" class="text-center first-color">My Outfits</h2>
    <div class="row">
      <div class="col-xs-12"><span class="outfit-panel-section">All</span></div>
      <div ng-repeat="outfit in myOutfits.outfits.allTypes track by $index" class="col-xs-6 col-sm-3">
        <outfit-panel outfit="outfit" remove="myOutfits.deleteOutfit"></outfit-panel>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"><span class="outfit-panel-section">Tops</span></div>
      <div ng-repeat="outfit in myOutfits.outfits.topsTypes track by $index" class="col-xs-6 col-sm-3">
        <outfit-panel outfit="outfit" remove="myOutfits.deleteOutfit"></outfit-panel>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"><span class="outfit-panel-section">Legs</span></div>
      <div ng-repeat="outfit in myOutfits.outfits.legsTypes track by $index" class="col-xs-6 col-sm-3">
        <outfit-panel outfit="outfit" remove="myOutfits.deleteOutfit"></outfit-panel>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"><span class="outfit-panel-section">Shoes</span></div>
      <div ng-repeat="outfit in myOutfits.outfits.shoesTypes track by $index" class="col-xs-6 col-sm-3">
        <outfit-panel outfit="outfit" remove="myOutfits.deleteOutfit"></outfit-panel>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12"><span class="outfit-panel-section">Pieces</span></div>
      <div ng-repeat="outfit in myOutfits.outfits.piecesTypes track by $index" class="col-xs-6 col-sm-3">
        <outfit-panel outfit="outfit" remove="myOutfits.deleteOutfit"></outfit-panel>
      </div>
    </div>
    <!--<div class="panel-anchors">-->
    <!--<div><a ng-href="/#/my-outfits#top" class="outfit-panel-btn-anchor">Up</a></div>-->
    <!--</div>-->
  </div>
</div>


