<div class="row" ng-cloak>
    <div class="col-xs-12">
        <h2 id="top" class="text-center first-color">Trending Outfits</h2>
        <div class="row">
            <div class="col-xs-12"><span class="outfit-panel-section">Latest All</span></div>
            <div ng-repeat="outfit in trending.trends.allLatest track by $index" class="col-xs-6 col-sm-3">
                <!-- outfit-panel -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="outfit-panel">
                            <!-- header -->
                            <div class="outfit-panel-header">
                                <div class="outfit-panel-img">
                                    <img ng-src="{{outfit.imgUrl}}" alt="outfit-img" class="img-responsive outfit-img" img-error-trends>
                                    <!--<button class="outfit-panel-btn-delete" ng-click="trending.deleteOutfit(outfit._id)">x</button>-->
                                </div>
                            </div>
                            <div class="outfit-panel-footer-trends">
                                <div class="outfit-panel-text2">
                                    by&nbsp;
                                    <span class="outfit-panel-text2">{{outfit.author}}</span>
                                </div>
                            </div>
                            <!-- end looks-template -->
                        </div>
                    </div>
                </div>
                <!-- end outfit-panel -->
            </div>
            <!--end all row-->
        </div>
        <div class="row">
            <div class="col-xs-12"><span class="outfit-panel-section">Latest Tops</span></div>
            <div ng-repeat="outfit in trending.trends.topsLatest track by $index" class="col-xs-6 col-sm-3">
                <!-- outfit-panel -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="outfit-panel">
                            <!-- header -->
                            <div class="outfit-panel-header">
                                <div class="outfit-panel-img">
                                    <img ng-src="{{outfit.imgUrl}}" alt="outfit-img" class="img-responsive outfit-img" img-error-trends>
                                    <!--<button class="outfit-panel-btn-delete" ng-click="trending.deleteOutfit(outfit._id)">x</button>-->
                                </div>
                            </div>
                            <div class="outfit-panel-footer-trends">
                                <div class="outfit-panel-text2">by&nbsp;
                                    <span class="outfit-panel-text2">{{outfit.author}}</span>
                                    <br>
                                    <span>{{outfit.type}}</span>
                                </div>
                            </div>
                            <!-- end looks-template -->
                        </div>
                    </div>
                </div>
                <!-- end outfit-panel -->
            </div>
            <!-- end tops row --->
        </div>
        <div class="row">
            <div class="col-xs-12"><span class="outfit-panel-section">Latest Legs</span></div>
            <div ng-repeat="outfit in trending.trends.legsLatest track by $index" class="col-xs-6 col-sm-3">
                <!-- outfit-panel -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="outfit-panel">
                            <!-- header -->
                            <div class="outfit-panel-header">
                                <div class="outfit-panel-img">
                                    <img ng-src="{{outfit.imgUrl}}" alt="outfit-img" class="img-responsive outfit-img" img-error-trends>
                                    <!--<button class="outfit-panel-btn-delete" ng-click="trending.deleteOutfit(outfit._id)">x</button>-->
                                </div>
                            </div>
                            <div class="outfit-panel-footer-trends">
                                <div class="outfit-panel-text2">by&nbsp;
                                    <span class="outfit-panel-text2">{{outfit.author}}</span>
                                    <br>
                                    <span>{{outfit.type}}</span>
                                </div>
                            </div>
                            <!-- end looks-template -->
                        </div>
                    </div>
                </div>
                <!-- end outfit-panel -->
            </div>
            <!-- end legs row --->
        </div>
        <div class="row">
            <div class="col-xs-12"><span class="outfit-panel-section">Latest Shoes</span></div>
            <div ng-repeat="outfit in trending.trends.shoesLatest track by $index" class="col-xs-6 col-sm-3">
                <!-- outfit-panel -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="outfit-panel">
                            <!-- header -->
                            <div class="outfit-panel-header">
                                <div class="outfit-panel-img">
                                    <img ng-src="{{outfit.imgUrl}}" alt="outfit-img" class="img-responsive outfit-img" img-error-trends>
                                    <!--<button class="outfit-panel-btn-delete" ng-click="trending.deleteOutfit(outfit._id)">x</button>-->
                                </div>
                            </div>
                            <div class="outfit-panel-footer-trends">
                                <div class="outfit-panel-text2">by&nbsp;
                                    <span class="outfit-panel-text2">{{outfit.author}}</span>
                                    <br>
                                    <span>{{outfit.type}}</span>
                                </div>
                            </div>
                            <!-- end looks-template -->
                        </div>
                    </div>
                </div>
                <!-- end outfit-panel -->
            </div>
            <!-- end shoes row --->
        </div>
        <div class="row">
            <div class="col-xs-12"><span class="outfit-panel-section">Latest Pieces</span></div>
            <div ng-repeat="outfit in trending.trends.piecesLatest track by $index" class="col-xs-6 col-sm-3">
                <!-- outfit-panel -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="outfit-panel">
                            <!-- header -->
                            <div class="outfit-panel-header">
                                <div class="outfit-panel-img">
                                    <img ng-src="{{outfit.imgUrl}}" alt="outfit-img" class="img-responsive outfit-img" img-error-trends>
                                    <!--<button class="outfit-panel-btn-delete" ng-click="trending.deleteOutfit(outfit._id)">x</button>-->
                                </div>
                            </div>
                            <div class="outfit-panel-footer-trends">
                                <div class="outfit-panel-text2">by&nbsp;
                                    <span class="outfit-panel-text2">{{outfit.author}}</span>
                                    <br>
                                    <span>{{outfit.type}}</span>
                                </div>
                            </div>
                            <!-- end looks-template -->
                        </div>
                    </div>
                </div>
                <!-- end outfit-panel -->
            </div>
            <!-- end pieces row --->
        </div>
    </div>
</div>